
.header-logo {
  height: 50px;
}

#errorMessage {
  display: none;
}

#welcomeMessage {
  margin: auto;
  text-align: center;
}

#logoutForm {
  display: none;
}

#username {
  font-weight: bold;
  padding-right: 1rem;
}

/* -------------------------------------------------------------------------- */
/*                                Product List                                */
/* -------------------------------------------------------------------------- */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}