.header-logo {
  height: 50px;
}

#errorMessage {
  display: none;
}

#welcomeMessage {
  margin: auto;
  text-align: center;
}

#logoutForm {
  display: none;
}

#username {
  font-weight: bold;
  padding-right: 1rem;
}

/* -------------------------------------------------------------------------- */
/*                                Product List                                */
/* -------------------------------------------------------------------------- */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* -------------------------------------------------------------------------- */
/*                                Shopping Cart                               */
/* -------------------------------------------------------------------------- */
#emptyCartMessage {
  display: none;
}

.quantity > * {
  display: inline;
  vertical-align: middle;
}

.total-cost {
  font-size: 30px;
  text-align: right;
  margin-right: 15%;
}

.btn-actions {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-end;
}

.btn-place-order {
  font-size: 32px;
  margin-right: 15%;
}

.cart-item-quantity {
  display: inline-block;
  border: 1px solid rgb(159, 159, 159);
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem;
  user-select: none;
  width: 50px;
  margin: 0px 10px;
}